$H_0$: Membership in the group is independent

$H_a$: Membership in the group is not independent

Contingency table

|     | Left | Right |
|-----|------|-------|
| dog | 45   | 455   |
| cat | 55   | 445   |

Chi_square test: Compares our values to what we would expect to see if our groups were independent

Expected: 

|     | Left | Right |
|-----|------|-------|
| dog | 50   | 450   |
| cat | 50   | 450   |


$X^2$ = $(.5^2 + .5^2 + .5^2 +.5^2)/1000$ = .1
p = .29

Do not reject null Hypothesis

Handedness is independent of preference of dog or cat.

Handedness does not tell what type of animal they prefer.

Example: MB coolness vs MB coolness

|          | MB   | No MP |     |
|----------|------|-------|-----|
| cool     | 250   | 50   | 300
| Not cool | 150   | 550  | 700
|          | 400  | 600   | 1000

Expected:

|          | MB   | No MP |     |
|----------|------|-------|-----|
| cool     | 120   | 180   | 300
| Not cool | 280   | 420   | 700
|          | 400  | 600   | 1000

$X^2$ = 335

p = .00006

$H_0$: Coolness is independent of OS Choice

$H_a$: Coolness is not indepent of OS Choice

Since p < alpha. Reject $H_0$: Coolness is independent of OS Choice

In [1]:
import pandas as pd

In [11]:
import scipy.stats as stats

df = pd.read_csv('kickstarter.csv')
df
df = df[df.status.isin(['failed', 'successful'])]
df
df['success'] = df.status == 'successful'

In [12]:
pd.crosstab(df.status, df.category)

category,Art,Comics,Dance,Design,Fashion,Film & Video,Film &amp; Video,Food,Games,Music,Photography,Publishing,Technology,Theater
status,,,,,,,,,,,,,,
failed,1585,448,180,837,684,210,5962,643,832,3261,742,2484,448,680
successful,2106,520,527,729,335,246,6177,655,635,6792,645,1671,289,1642

In [13]:
df.groupby('category').success.mean()

category
Art                 0.570577
Comics              0.537190
Dance               0.745403
Design              0.465517
Fashion             0.328754
Film & Video        0.539474
Film &amp; Video    0.508856
Food                0.504622
Games               0.432856
Music               0.675619
Photography         0.465032
Publishing          0.402166
Technology          0.392130
Theater             0.707149
Name: success, dtype: float64